html, body {
  height: 100%;
  margin: 0;
}

.body {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, rgb(153, 160, 201) 0%, rgba(255, 224, 255, 1) 0%, rgba(224, 232, 255, 1) 100%);
  min-height: 100vh;
}

header {
  color: #e8f5ff;
  padding: 2rem;
  font-family: "Madimi One", sans-serif;
  font-weight: 550;
}

header h1 {
  font-size: 3rem;
  text-align: center;
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.contacto {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Madimi One", sans-serif;
  width: 80%;
  margin: 0 auto;
}

.contacto h2 {
  text-align: center;
  margin-top: 0;
  font-size: 2rem;
}

.contacto form {
  margin-top: 20px;
}

.contacto label {
  display: block;
  margin-bottom: 5px;
}

.contacto input,
.contacto textarea,
.contacto select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.contacto textarea {
  height: 100px;
}

.contacto button {
  background-color: #c999af;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Madimi One", sans-serif;
}

.contacto button:hover {
  background-color: #333333;
}

.imagen {
  text-align: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr;
  }
}
